<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cb-config-overrides" version="0.1.995" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CB: Config / Plist Overrides</name>
    <author>Ralpharoo</author>
    <description>CB Config / Plist Overrides</description>
    <keywords></keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
	
	<platform name="android">
		
		<edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
			<uses-permission android:name="android.permission.CAMERA" />
			<!--<uses-permission android:name="com.android.vending.BILLING"/>-->
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />	 <!-- This is not appearing? -->	
		</config-file>
		
		
		<!-- Old Intents -->
		<edit-config file="AndroidManifest.xml" target="/manifest/application/activity"  mode="merge">
			
		    <intent-filter>
			<action android:name="android.intent.action.SEND"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data android:mimeType="text/plain"/>
		    </intent-filter>
		    <intent-filter>
			<action android:name="android.intent.action.SEND"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data android:scheme="http"/>
			<data android:scheme="https"/>
		    </intent-filter>
			
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:host="*"/>
			<data android:pathPattern=".*\\.cookbook"/>
			<data android:scheme="file"/>
		    </intent-filter>
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:mimeType="application/cookbook"/>
		    </intent-filter>
			
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:host="*"/>
			<data android:pathPattern=".*\\.paprikarecipe"/>
			<data android:scheme="file"/>
		    </intent-filter>
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:mimeType="application/paprikarecipe"/>
		    </intent-filter>
			
			
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:host="*"/>
			<data android:pathPattern=".*\\.yml"/>
		        <data android:pathPattern=".*\\.yaml"/>
			<data android:scheme="file"/>
		    </intent-filter>
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:mimeType="text/yml"/>
		        <data android:mimeType="text/yaml"/>
		    </intent-filter>
			
		    <intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<data android:mimeType="application/octet-stream"/>
		    </intent-filter>
		</config-file>
	</platform>
	
	
	<platform name="ios">

	  <!--TRIAL REMOVE TO STOP ERROR? <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
	      <dict>
		  <key>NSAllowsArbitraryLoads</key>
		  <true/>
		  <key>NSAllowsArbitraryLoadsInWebContent</key>
		  <true/>
	      </dict>
	  </config-file>-->
		
	<config-file target="*-Info.plist" parent="UTImportedTypeDeclarations">
            <array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.data</string>
						<string>public.text</string>
					</array>
					<key>UTTypeIdentifier</key>
					<string>public.paprikarecipe</string>
					<key>UTTypeDescription</key>
					<string>paprikarecipe</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>paprikarecipe</string>
						</array>
					</dict>
				</dict>
            </array>
			
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.data</string>
						<string>public.text</string>
					</array>
					<key>UTTypeIdentifier</key>
					<string>public.hrecipe</string>
					<key>UTTypeDescription</key>
					<string>hrecipe</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>hrecipe</string>
						</array>
					</dict>
				</dict>
            </array>
		
		
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.data</string>
						<string>public.text</string>
					</array>
					<key>UTTypeIdentifier</key>
					<string>public.html</string>
					<key>UTTypeDescription</key>
					<string>HTML Data</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>html</string>
						</array>
					</dict>
				</dict>
            		</array>
		
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.data</string>
						<string>public.text</string>
					</array>
					<key>UTTypeIdentifier</key>
					<string>public.yml</string>
					<key>UTTypeDescription</key>
					<string>HTML Data</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>yml</string>
							<string>yaml</string>
						</array>
					</dict>
				</dict>
            		</array>
		
		
        </config-file>
				
		
        <config-file target="*-Info.plist" parent="CFBundleDocumentTypes">
            <array>
                <dict>
                    <key>CFBundleTypeName</key>
                    <string>CookBook Recipe File</string>
                    <key>LSHandlerRank</key>
                    <string>Owner</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
			<string>com.app.cookbook.cookbook</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>cookbook</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeName</key>
                    <string>Paprika Recipe File</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.paprikarecipe</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>paprikarecipe</string>
                    </array>
                </dict>
		<dict>
                    <key>CFBundleTypeName</key>
                    <string>HRecipe Recipe File</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.hrecipe</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>hrecipe</string>
                    </array>
                </dict>
	       <dict>
                    <key>CFBundleTypeName</key>
                    <string>HTML Recipe File</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.html</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>html</string>
                    </array>
                </dict>
	       <dict>
                    <key>CFBundleTypeName</key>
                    <string>YAML Recipe File</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.yml</string>
                        <string>public.yaml</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>yml</string>
                        <string>yaml</string>
                    </array>
                </dict>
		<dict>
                    <key>CFBundleTypeName</key>
                    <string>FDX File</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.fdx</string>
                    </array>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>fdx</string>
                    </array>
                </dict>
            </array>

        </config-file>
	
	
	<config-file target="*-Info.plist" parent="UTExportedTypeDeclarations">
            <array>
                <dict>
                    <key>UTTypeConformsTo</key>
                    <array>
		        <string>public.text</string>
                        <!--<string>public.plain-text</string>-->
			<string>public.data</string>
			<!--<string>public.content</string>-->
                    </array>
                    <key>UTTypeDescription</key>
                    <string>CookBook Recipe File</string>
                    <key>UTTypeIdentifier</key>
                    <string>com.app.cookbook.cookbook</string>
                    <key>UTTypeTagSpecification</key>
                    <dict>
                        <key>public.filename-extension</key>
                        <string>cookbook</string>
                    </dict>
                </dict>

            </array>
        </config-file>
		
	</platform>
	
</plugin>

